
      body{
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-size: 20px;
       line-height: 15px;
       border: 2px;
      direction:rtl;
      text-align: center;
      margin: 0;
      padding: 15px;
      background-color: green;
     
      }

      h1 {
   font-family: 'Courier New', Courier, monospace;
   color:black;
   border: 2px solid white;
   padding: 15px 30px;
   border-radius: 50px;
    background-color: rgb(180, 243, 103);

      }
      h2 {
    font-family:'Times New Roman', Times, serif;
   color:white;
          border: 2px solid white;
         padding: 15px;
         display: inline-block;
         border-radius: 50px;
      }
    h3{
       color:white ;
       padding: px;
    }
  
